//COLOROS

$color-blue: #0000c4;
$color-blue-light-1: #0C5B93;
$color-blue-light-2: #44B6D4;

$color-yellow: #e3e622;
$color-dark-yellow: #f4cb42;
$color-light-yellow: #dfef81;
$color-black: #000;
$color-white: #fff;
$color-dark-white: #f4f4f4;


$color-section-background: #f4f4f4;




//SHADOW
$shadow-main: 0 1.5rem 4rem rgba($color-black, .15);

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;