<<<<<<< HEAD
header {
  background-attachment: fixed;
  background-image: linear-gradient(rgba($color-black, 0.7), rgba($color-black, 0.7)), url(start-back.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
=======
header {
  background-attachment: fixed;
  background-image: linear-gradient(rgba($color-black, 0.7), rgba($color-black, 0.7)), url(start-back.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
>>>>>>> 27ff8a0f3d2f5a039d2b47d779c8c180dac45b79
}