header {
  background-attachment: fixed;
  background-image: linear-gradient(rgba($color-black, 0.7), rgba($color-black, 0.7)), url(start-back.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}