
.history-slider__2017 {display: none}
.history-block {
  list-style: none;
  font-size: 0;

  @include respond(tab-port) {
    white-space: nowrap;
    overflow-x: scroll;
  }
}
.history-item {
  display: inline-block;


  position: relative;
  width: 20%;
  text-align: center;


  &__years-block {
    position: absolute;
    top: 0;
    left: -14rem;
    right: -14rem;
    border-bottom: 0;

    &-conteiner {
      position: absolute;
      top: 10rem;
      right: 0;
      left: 0;

      &--year {
        display: inline-block;
        width: 20%;
        height: 5rem;
        text-align: center;
        position: relative;
      }
    }
  }


  @include respond(tab-port) {
    min-width: 25rem;
  }

  &__custom--left {
    text-align: left;
  }

  &__custom--right {
    text-align: right;
  }

// SECTION HEADINGS
  &__heading {
    font-size: 2.3rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    width: 75%;

    @include respond(tab-land) {
      font-size: 2rem;
    }

    &--top-left {
      top: 2rem;
      left: 1rem;
      text-align: left;

    }

    &--top-right {
      text-align: right;
      right: 1rem;
      top: 2rem;
    }

    &--bottom-right {
      bottom: 2rem;
      right: 1rem;
      text-align: right;
    }

    &--bottom-left {
      text-align: left;
      left: 1rem;
      bottom: 2rem;
    }

    &-span {
      padding: .1rem 1.5rem;

      &--blue {
        background-image: linear-gradient(to right bottom,
                rgba($color-blue, 0.85),
                rgba($color-blue-light-1, 0.85));
      }

      &--yellow {
        background-image: linear-gradient(to right bottom,
                rgba($color-orange-light, 0.85),
                rgba($color-orange, 0.85));
      }
    }
  }

  &__img {
    display: inline-block;
    width: 60%;
    height: auto;
    margin: 5rem 0;

    &--hide {opacity: 0}
  }

//TABLE POSITION TEXT
  &__table-position {position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    font-size: 7rem;
    font-weight: 600;
    transition: all .8s;

    background-image: linear-gradient(to right, $color-blue-light-1, $color-blue-light-2);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: .5rem 1rem 2rem rgba($color-black, .2 );

    @include respond(tab-land) {font-size: 5rem;}

    &:hover {
      transform: scale(1);
      background-image: linear-gradient(to right, $color-white, $color-section-background);
      text-shadow: .5rem 1rem 2rem rgba($color-black, .2 );
      font-weight: 300;
    }
  }
}


