
/* Big tablet: to 1200px (width smaller than 1140px row) */
@media only screen and (max-width: 1200px) {
    .row {padding: 0 4%;}
    .start-text-block {
        position: absolute;
        width: 100%;
    }



}

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    section {padding: 4rem 0;}

    .history-block {
        white-space: nowrap;
        overflow-x: scroll;
    }
    .history-item {
        min-width: 25rem;
    }
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    .player-section {display: none;}
    .show-more {display: inline;}
    .show-less {display: none;}
    .player-section li {width: 50%;}
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    h1 {font-size: 2rem;}
}

/* Phones like iPhone 5 or so */
@media only screen and (max-width: 350px) {
    .logo {width: 6rem;}
    h1 {font-size: 1.5rem;}
    .start-text-block img {width: 15rem;}
}