/*
0 -600px        Phone
600 - 900px     Tablet portrait
900 - 1200px    Tablet landscape
{1200 - 1800px} our normal styles
1800px +        Big desktop


breakpoint arg choices:
- phone
- tab-port
- tab-land
- big desktop

ORDER: Base + typography > general layout + grid > page layout > components
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  box-sizing: inherit;
  text-rendering: optimizeLegibility;
  overflow-x: hidden; }
  @media (max-width: 75em) {
    html {
      font-size: 62.5%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

.row {
  max-width: 1140px;
  margin: 0 auto; }
  @media (max-width: 75em) {
    .row {
      padding: 0 4%; } }

section {
  padding: 8rem 0; }
  @media (max-width: 56.25em) {
    section {
      padding: 4rem 0; } }

body {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 300; }

/* ----- HEADINGS ----- */
h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase; }

h1 {
  margin-top: 0;
  margin-bottom: 2rem;
  color: #fff;
  font-size: 3.5rem;
  font-weight: 300;
  letter-spacing: .1rem; }
  @media (max-width: 37.5em) {
    h1 {
      font-size: 2.5rem; } }

h2 {
  font-size: 3rem;
  word-spacing: .2rem;
  text-align: center;
  margin-bottom: 3rem;
  letter-spacing: .1rem; }
  h2:after {
    display: block;
    height: .2rem;
    background-color: #0000c4;
    content: " ";
    width: 10rem;
    margin: 0 auto;
    margin-top: 3rem; }

h3 {
  font-size: 2rem;
  width: 100%;
  color: #1a1a1a;
  border-bottom: .1rem solid #d9d9d9;
  margin-top: 2rem;
  margin-bottom: .1rem; }

.start-text-block {
  position: absolute;
  width: 100%;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .start-text-block img {
    width: 17rem;
    height: auto;
    border-radius: 5rem;
    border: 0.2rem solid #e3e622; }

.player-back--textblock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
  font-family: 'Rubik Mono One', sans-serif;
  text-align: center; }
  .player-back--textblock span {
    display: block;
    line-height: 2rem; }
    .player-back--textblock span:first-child {
      font-size: 2.5rem;
      color: #e3e622;
      line-height: 4rem; }

.show-more,
.show-less {
  display: none;
  font-size: .9rem;
  margin-left: .5em; }

@media (max-width: 56.25em) {
  .show-more {
    display: inline; } }

@media (max-width: 56.25em) {
  .show-less {
    display: none; } }

a:link,
a:visited {
  color: #0000c4;
  text-decoration: none;
  padding-bottom: .1rem;
  -webkit-transition: border-bottom 0.2s, color 0.2s;
  transition: border-bottom 0.2s, color 0.2s; }

a:hover,
a:active {
  color: #e3e622; }

.btn:link,
.btn:visited {
  border-bottom: none; }

.btn:hover,
.btn:active {
  border-bottom: none; }

.history-slider__2017 {
  display: none; }

.history-block {
  list-style: none;
  font-size: 0; }
  @media (max-width: 56.25em) {
    .history-block {
      white-space: nowrap;
      overflow-x: scroll; } }

.history-item {
  float: left;
  position: relative;
  width: 20%;
  text-align: center; }
  .history-item::after {
    content: "";
    display: table;
    clear: both; }
  .history-item__large {
    width: 60%; }
  .history-item .years-container {
    position: relative; }
  .history-item .year__photo {
    width: 100%;
    height: auto;
    position: absolute; }
    .history-item .year__photo--2017 {
      top: 0;
      left: 0; }
  @media (max-width: 56.25em) {
    .history-item {
      min-width: 25rem; } }
  .history-item__custom--left {
    text-align: left; }
  .history-item__custom--right {
    text-align: right; }
  .history-item__heading {
    font-size: 2.3rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    width: 75%; }
    .history-item__heading--top-left {
      top: 2rem;
      left: 1rem;
      text-align: left; }
    .history-item__heading--top-right {
      text-align: right;
      right: 1rem;
      top: 2rem; }
    .history-item__heading--bottom-right {
      bottom: 2rem;
      right: 1rem;
      text-align: right; }
    .history-item__heading--bottom-left {
      text-align: left;
      left: 1rem;
      bottom: 2rem; }
    .history-item__heading-span {
      padding: .1rem 1.5rem; }
      .history-item__heading-span--blue {
        background-image: linear-gradient(to right bottom, rgba(0, 0, 196, 0.85), rgba(12, 91, 147, 0.85)); }
      .history-item__heading-span--yellow {
        background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
  .history-item__img {
    display: inline-block;
    width: 60%;
    height: auto;
    margin: 5rem 0; }
  .history-item__table-position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    font-size: 7rem;
    font-weight: 600;
    transition: all .8s;
    background-image: linear-gradient(to right, #0C5B93, #44B6D4);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }
    @media (max-width: 75em) {
      .history-item__table-position {
        font-size: 5rem; } }
    .history-item__table-position:hover {
      transform: scale(1);
      background-image: linear-gradient(to right, #fff, #f4f4f4);
      text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
      font-weight: 300; }

.label__container {
  position: relative;
  overflow: hidden; }
  .label__container .label {
    background-image: linear-gradient(to right bottom, rgba(68, 182, 212, 0.85), rgba(12, 91, 147, 0.85));
    display: inline-block;
    padding: .5rem 4rem;
    z-index: 5;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 1rem;
    left: -3rem;
    transform: rotate(-40deg); }
    .label__container .label__text {
      color: #e3e622;
      font-size: 1.4rem;
      font-weight: 500; }

.main-nav {
  float: right;
  list-style: none; }
  .main-nav li {
    display: inline-block;
    margin-top: 4rem;
    margin-right: 4rem; }
    .main-nav li a:link,
    .main-nav li a:visited {
      padding: .8rem 0;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.7rem;
      border-bottom: .2rem solid transparent;
      -webkit-transition: border-bottom 0.2s;
      transition: border-bottom 0.2s; }
    .main-nav li a:hover,
    .main-nav li a:active {
      border-bottom: 0.2rem solid #e3e622; }

.logo {
  width: 8rem;
  height: auto;
  margin-top: 1.5rem;
  border-radius: 4rem; }

.player-section {
  font-size: 0; }
  @media (max-width: 56.25em) {
    .player-section {
      display: none; } }
  .player-section__card {
    position: relative;
    height: .1rem;
    display: inline-block;
    width: 25%;
    padding: 0 .6rem;
    margin-top: 1.2rem; }
    @media (max-width: 56.25em) {
      .player-section__card {
        width: 25%; } }
    @media (max-width: 37.5em) {
      .player-section__card {
        width: 50%; } }
    .player-section__card:hover .player-front {
      transform: rotateY(180deg); }
    .player-section__card:hover .player-back {
      transform: rotateY(360deg); }
    .player-section__card .player-face {
      width: 100%;
      height: 100%;
      transition: transform 1s;
      backface-visibility: hidden; }
      .player-section__card .player-face img {
        width: 100%;
        height: auto; }
    .player-section__card .player-back {
      transform: rotateY(180deg);
      position: relative;
      width: 100%;
      height: auto; }
      .player-section__card .player-back figure {
        background-image: linear-gradient(rgba(0, 0, 0, 0.585), rgba(0, 0, 0, 0.585)), url(../img/players/ivanov-back.png);
        background-size: cover;
        background-position: center;
        /*hack to display background image above*/ }
        .player-section__card .player-back figure img {
          visibility: hidden; }

header {
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(start-back.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 4rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }
  .row .col-1-of-5 {
    width: calc((100% - 4 * 6rem) / 5); }

.section-history {
  padding: 0;
  background-color: #f4f4f4;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/history-back.jpg");
  background-position: center;
  background-size: cover;
  background-blend-mode: darken; }
