
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    // defines what 1rem is
    font-size: 62.5%;
    box-sizing: inherit;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 8rem 0;
}

