.section-history {
  padding: 0;
  background-color: $color-section-background;
  background-image: linear-gradient(to right bottom, rgba($color-black, 0.7), rgba($color-black, 0.7)), url("../img/history-back.jpg");
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
}