
.player-section {
  font-size: 0;

  @include respond(tab-port) {
    display: none;
  }

  & figure img{
    box-shadow: $shadow-main;
    border-radius: 2rem;
  }

  &__card {
    position: relative;
    height: .1rem;
    display: inline-block;
    width: 25%;
    padding: 0 .6rem;
    margin-top: 1.2rem;

    @include respond(tab-port) {
      width: 25%;
    }

    @include respond(phone) {
      width: 50%;
    }

    ///&:hover .player-front {
    //  transform: rotateY(180deg);
    //}
    //&:hover .player-back {
    //  transform: rotateY(360deg);
    //}

    &--feature{
      display: flex;
      justify-content: flex-end;
      position: absolute;
      top: -3%;
      left: 8%;
      right: 8%;
      font-size: 2rem;
      color: transparent;

      &-overall{
        display: inline-block;
        width: 1.5rem;
        height: 2.5rem;
        border-radius: .2rem;
        margin-right: .5rem;
        line-height: 2.5rem;
        font-size: 1.7rem;
        text-align: center;
        color: white;
        font-weight: 700;
      }

      &-yellow{
        background-color: $color-yellow;
      }

      &-red{
        background-color: red;
      }

      &-assist{
        background-image: url(../resources/img/player-card/boot.png);
        background-size: cover;
        width: 2.7rem;
        height: 2.7rem;
      }

      &-goal{
        background-image: url(../resources/img/player-card/goal.png);
        background-size: cover;
        width: 2.5rem;
      }
    }

    .player-front {

      figure {position: relative;}

      &--textblock {
        position: absolute;
        bottom: 5%;
        left: 0;
        right: 0;

        & span {display: block;
          line-height: 2.5rem;

          &:first-child {
            font-size: inherit;
            color: $color-yellow;
            line-height: 4rem;
            box-shadow: 0 3rem 4rem rgba(0, 0, 0, .5);

            @include respond(tab-port) {line-height: 3rem;}

            @include respond(phone) {line-height: 4rem;}

            @include respond(small-phone) {line-height: 3rem;}
          }
        }
      }
    }

    .player-face {
      width: 100%;
      height: 100%;
      transition: transform 1s;
      backface-visibility: hidden;


      & img {
        width: 100%;
        height: auto;
      }
    }

    .player-back {
      transform: rotateY(180deg);
      position: relative;
      width: 100%;
      height: auto;

      & figure {
        background-image: linear-gradient(rgba($color-black, 1), rgba($color-black, 1));
        border-radius: 2rem;
      }

      & img {opacity: .65;}

     /* & figure {
        background-image: linear-gradient(rgba($color-black, 0.585), rgba($color-black, 0.585)), url(../img/players/ivanov-back.png);
        background-size: cover;
        background-position: center;

        /*hack to display background image above
        & img {
          visibility: hidden;
        }
      }*/
    }
  }
}

