
header {
  background-attachment: fixed;
  background-image: linear-gradient(rgba($color-black, 0.7), rgba($color-black, 0.7)), url(../resources/img/background/start-back.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;

  &.four-o-four {
    background-attachment: scroll;
    background-image: linear-gradient(rgba($color-black, 0.7), rgba($color-black, 0.3)), url(../resources/img/background/four-o-four.jpg);

  }
}



